<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="/static/stylesheets/app.css">
    <link rel="stylesheet" type="text/css" href="/static/stylesheets/foundation-icons/foundation-icons.css">
    <title>{% block title %}{% endblock %}</title>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.1/angular-sanitize.min.js"></script>
    {% block header %}{% endblock %}
</head>
<body>

<div class="off-canvas-wrap">
    <div class="inner-wrap">
        <!-- mobile top bar to activate nav -->
        <nav class="tab-bar show-for-small">
            <section class="left-small">
                <a class="left-off-canvas-toggle menu-icon"><span></span></a>
            </section>
            <section class="middle tab-bar-section">
                <h2 class="title" style="text-align:center;">Goalboost Time Tracking</h2>
            </section>
        </nav>
        <!-- top bar nav -->
        <nav class="top-bar hide-for-small-only" data-topbar>
            <ul class="title-area">
                <li class="name">
                    <h1><a href="/">Goalboost</a></h1>
                </li>
            </ul>

            <section class="top-bar-section">

                {#
                    TODO tweak menus accordingly !
                #}


                {% if not current_user.is_authenticated() %}
                    {% include "/layout/menu_guest.html" %}
                {% endif %}

                {% if current_user.is_authenticated() %}
                    {% include "/layout/menu_authenticated.html" %}
                {% endif %}


            </section>

        </nav>
        <!-- Main Page Content and Sidebar -->
        <section class="main-section">
            <div class="row">
                <!-- Main Content -->
                <div class="medium-12 small-12 columns" role="content">
                    <div class="row">
                        <div class="small-12 columns">
                            <div style="height:1em;"class="show-for-medium-up"></div>
                            {% block content %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <a class="exit-off-canvas"></a>
        </section><!--off-canvas inner-->


        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/foundation.min.js"></script>
        <script src="/static/js/foundation/foundation/foundation.equalizer.js"></script>
        <script src="/static/js/foundation/foundation/foundation.dropdown.js"></script>
        <script language="JavaScript">
            $(document).foundation('reveal', 'reflow');
            $(document).foundation({
                dropdown: {
                    // specify the class used for active dropdowns
                    active_class: 'open'
                }
            });
            $(document).ready(function () {
                var active = "{{ active_page }}";
                console.log("Active page: " + active);
                $("#" + active).addClass("active");
            });
        </script>

        <!-- <script src="/static/jsfoundation/mm-foundation-tpls-0.8.0.min.js"></script> -->
    </div><!--off-canvas wrap-->
</body>
</html>
