{# We include this menu if user is not authenticated #}
{# TODO make this our public site #}
<ul class="left">
    <ul class="">
        <li class="has-dropdown">
            <a href="#">Development Links</a>
            <ul class="dropdown">
                <li><a href="https://github.com/codesolid/Goalboost">Goalboost on Github</a></li>
                <li><a href="https://github.com/codesolid/Goalboost/issues">Issues Page</a></li>
                <li id="test_api"><a href="/development">API Test Page (Need Fixes)</a></li>
            </ul>
        </li>
    </ul>
</ul>
<ul class="right">
    <li id="register_register"><a href="/register">Sign Up</a></li>
    <li id="register_login"><a href="/login">Log in</a></li>
</ul>