{% extends "layout/default.html" %}
{% set active_page = "development_links" %}
{% block content %}

<script language="JavaScript">

    var samplesApp = angular.module('samplesApp', ['ngSanitize']);

    samplesApp.sampleTimer = ""
    samplesApp.controller('APISamplesController', ['$scope',  '$http', function($scope, $http) {

        $scope.dataPost =
        {
            "entries": [
                {
                    "dateRecorded": "2015-11-12 00:00:00",
                    "seconds": 989
                }
            ],
            "lastRestart": "2015-11-12T15:15:16.855000",
            "notes": "Posted from the API",
            "running": true,
            "startTime": "2015-11-12T15:15:16.855000",
            "userId": "56259a278c57cf02f9692b31"            // API design -- Note just need timer
                                                            // post because user is included here
        };

        $scope.samples = [
            {
                method: "GET",
                endpoint: "/api/user/:id",
                devurl: "http://localhost:5000/api/user/56259a278c57cf02f9692b31",
                produrl: "http://goalboost.com/api/user/56322c59e1539b0ef4855724",
                data: '',
                notes: 'Get a user by ID',
                status: 'Works'
            },
            {
                method: "POST",
                endpoint: "/api/timer",
                devurl: "http://localhost:5000/api/timer",
                produrl: "http://goalboost.com/api/timer",
                data: $scope.dataPost,
                notes: "Creates a new timer for the user. Does not affect current user timer.",
                status: 'To do'
            },
            {
                method: "PUT",
                endpoint: "/api/timer/:timerid",
                devurl: "http://localhost:5000/api/timer/someId",
                produrl: "http://goalboost.com/api/timer/someId",
                data: '{"wewant": "ashrubbery"}',
                notes: "Replaces an existing timer for a user (Update).  Does not affect current user timer.",
                status: 'To do'
            },
            {
                method: "GET",
                endpoint: "/api/timer/:timerid",
                devurl: "http://localhost:5000/api/timer/56441abb8c57cf75d732510c",
                produrl: "http://goalboost.com/api/timer/someId",
                data: '{"wewant": "ashrubbery"}',
                notes: "Gets a specific timer by Id.  Returns 404 if not found",
                status: 'Works'
            },
            {
                method: "GET",
                endpoint: "/api/user/:id/timers",
                devurl: "http://localhost:5000/api/user/56259a278c57cf02f9692b31/timers",
                produrl: "http://goalboost.com/api/user/56322c59e1539b0ef4855724/timers",
                data: '{"wewant": "ashrubbery"}',
                notes: "Gets all timers for a user.  Most recent first.  Need to work out pagination",
                status: 'Works.  Needs review and pagination.'
            },
            {
                method: "GET",
                endpoint: "/api/user/:id/timer_current",
                devurl: "http://localhost:5000/api/user/56259a278c57cf02f9692b31/timer_current",
                produrl: "http://goalboost.com/api/user/56322c59e1539b0ef4855724/timer_current",
                data: '',
                notes: "Get the users's current timer.  If not set return 404",
                status: 'Works'
            },
            {
                method: "POST",
                endpoint: "/api/user/:id/timer_current",
                devurl: "http://localhost:5000/api/user/56259a278c57cf02f9692b31/timer_current",
                produrl: "http://goalboost.com/api/user/56322c59e1539b0ef4855724/timer_current",
                data: '{"wewant": "ashrubbery"}',
                notes: "Creates a new timer and sets it as user's timer current timer",
                status: 'To do -- note can do with a more general post followed by a PUT'
            },

            {
                method: "PUT",
                endpoint: "/api/user/:id/timer/current",
                devurl: "http://localhost:5000/api/user/56259a278c57cf02f9692b31/timer_current",
                produrl: "http://goalboost.com/api/user/56322c59e1539b0ef4855724/timer_current",
                data: '{"wewant": "ashrubbery"}',
                notes: "Set's the user's current timer to an existing timer.",
                status: 'In progress / broken'
            }

        ];

        $scope.lastSample = $scope.samples[0];

        $scope.sendRequestItem = function(item, dev) {
            $scope.lastSample = item;
            url = dev ? item.devurl : item.produrl;
            $http({
                url: url,
                method: item.method,
                data: item.data
            }).then(function successCallback(response) {
                var data = JSON.stringify(response.data,null,2);
                $scope.dataReceived = data;
                $scope.responseCodeReceived = response.status;

            }, function errorCallback(response) {
                var data = JSON.stringify(response.data,null,2);
                $scope.dataReceived = data;
                $scope.responseCodeReceived = response.status;
            });
        };

        $scope.sendRequest = function(url, method) {
            $http({
                url: url,
                method: method
            }).then(function successCallback(response) {
                var data = JSON.stringify(response.data,null,2);
                $scope.dataReceived = data;
                $scope.responseCodeReceived = ""

            }, function errorCallback(response) {
                // called asynchronously if an error occurs
                // or server returns response with an error status.
            });
        };


        $scope.putCurrentTimerDev = function() {
            $http({
                method: 'PUT',
                url: 'http://localhost:5000/api/user/56259a278c57cf02f9692b31/timer/current'

            }).then(function successCallback(response) {
                var data = JSON.stringify(response.data,null,2);
                $scope.dataReceived = data;
                $scope.responseCodeReceived = ""

            }, function errorCallback(response) {
                // called asynchronously if an error occurs
                // or server returns response with an error status.
            });
        };

        $scope.dataReceived = "";
        $scope.putCurrentTimerProd = function() {
            alert("Prod Put it!");
        }
    }]);
</script>
<div ng-app="samplesApp" ng-controller="APISamplesController">
    {% raw %}

    <h1>Goalboost API Endpoints</h1>
<p class="lead">The endpoints below are under development.</p>

    <table>
        <tr><th>Request Type</th><th>Endpoint</th><th>Development Example</th><th>Production Example</th><th>Notes</th><th>Development Status</th></tr>
        <tr ng-repeat="item in samples">
            <td ng-bind="item.method" />
            <td ng-bind="item.endpoint" />
            <td><a href="#" ng-click="sendRequestItem(item, true)">Link</a></td>
            <td><a href="#" ng-click="sendRequestItem(item, false)">Link</a></td>
            <td ng-bind="item.notes" />
            <td ng-bind="item.status" />
        </tr>
    </table>

    <div>
        <p class="lead">Data Received</p>
        <p>Response status:  {{ responseCodeReceived }}</p>
        <textarea rows="18">{{ dataReceived }}</textarea>
    </div>

    <div>
        <p class="lead">Data sent (if any)</p>
        <pre>{{ lastSample.data }}</pre>
    </div>

    {% endraw %}
</div>

{% endblock %}

