{% extends "layout/default.html" %}
{% set active_page = "index" %}
{% block title %}Goalboost Time and Billing{% endblock %}
{% block header %}
<script src="/static/js/timer/timer.js" data-userId="{{userId}}">

</script>
{% endblock  %}
{% block content %}
{% raw %}
<!-- Todo move to global stylesheet -->
<style type="text/css">
.runningTimer { font-weight:  bold; }
</style>
<div >
    <div class="row" data-equalizer>
        <div class="large-12 columns left-align"><h1>There's A Timer For That</h1></div>
    </div>
        <p>Welcome to Goalboost.  Part time and billing application, and part personal productivity tool, Goalboost makes it easy to track your time from the applications that matter most to you.  Currently under Alpha stage development, the the team is building out Goalboost with a view to being able to integrate with Github, Twitter, Outlook, Email, and many more, so you can easily and quickly track both your private billable hours as well as the personal goals you'll want to share with others.
        </p>
        <h2>Early Adopter, You Say?</h2>
        <p>Goalboost is being developed under a new <a href="http://codesolid.com/employee_owned_source_code.html">Employee Owned Source Code</a> licensing model.  Software Developers and others who are interested in what we've done so far should check out our <a href="https://github.com/CodeSolid/Goalboost">Github Repo</a>,   or feel free to kick the tires by signing up for a free account.</p>
    </div>
    <div class="right">
        <a href="/register" class="button large round success">Sign Up Now</a>
    </div>
</div>


{% endraw %}
{% endblock %}

