<html>
<head>
	<title>Test File</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.1/angular-sanitize.min.js"></script>
    
    <script src="https://cdn.jsdelivr.net/g/js-data@2.8.2,js-data-angular@3.1.0,js-data-http@3.0.0-beta.1,js-data-localstorage@2.1.1,js-data-firebase@2.1.1"></script>
    <meta charset="utf-8">    
    <link rel="stylesheet" type="text/css" href="../../static/stylesheets/app.css" />
</head>

<style type="text/css">
	html { font-size:14pt; font-family:arial, sans-serif,;}
    button:focus{ outline-style:none; }
</style>


<script language="JavaScript">

    function TimeFormatter() {
        // Formatting functions:
        this.formatSeconds = function(timeInSeconds) {
            var hours = 0;
            var minutes = 0;
            var seconds= timeInSeconds % 60;
            //var suffix = "seconds";
            var timeStr = this.pad(seconds, 2, 0);

            if (timeInSeconds >= 60) {
                minutes = Math.floor(timeInSeconds /60) % 60;
                timeStr = this.pad(minutes, 2, 0) + ":" + timeStr;
                // suffix = "minutes";
            }
            if (timeInSeconds >= 3600) {
                hours = Math.floor(timeInSeconds / 3600);
                timeStr = hours + ":" + timeStr;
              //  suffix = "hours";
            }

            return timeStr; // + " " + suffix;
        };

        /* Left-zero padding for minutes, seconds, etc. */
        this.pad = function(n, width, z) {
             z = z || '0';
            n = n + '';
        return n.length >= width ? n : new Array(width - n.length + 1).join(z) + n;
        };

    }

    var myApp = angular.module('myApp', ['ngSanitize']);

    myApp.controller('TimerController', ['$scope',  '$http', function($scope, $http) {
        $scope.msg = 'Hello...';
        $scope.header = "What Are You Doing?";
        $scope.timerIndex = -1;
        //$scope.someTimerValue = 99;
        $scope.timeFormatter = new TimeFormatter();
        $scope.timeFormatted = $scope.timeFormatter.formatSeconds(1);

        
        $scope.startButtonClass = "success";
        $scope.startButtonText = "Start";
        $scope.timers = [];
        $scope.timers_json = $scope.timers;
        $scope.startDisplayed = true;
        $scope.setHeader = function() {
        	var d = new Date();
        	$scope.header = "The Time"
        	$scope.msg = "<table cellpadding=\"20px;\">" +
        		"<tr><td>Date.toISOString()</td><td>" + d.toISOString() +  "</td></tr>" +  
        		"<tr><td>Date.toLocaleString()</td><td>" + d.toLocaleString() +  "</td></tr>" +  
        		"<tr><td>Date.getTimte()</td><td>" + d.getTime() + "</td></tr></table>";
        };
        $scope.startTimer = function()  {            
            $scope.startButtonClass = "alert";
            $scope.startButtonText = "Stop";
        	$scope.timerIndex++;
        	$scope.timers[$scope.timerIndex] = {"startTime": new Date()}
        	$scope.header = "Started";
            $scope.updateTimersJson();
        }
		$scope.stopTimer = function()  {
            $scope.startButtonClass = "success";
            $scope.startButtonText = "Start";
        	$scope.header = "Stopped";
        	$scope.timers[$scope.timerIndex]["endTime"] = new Date();
            $scope.updateTimersJson();
        }
        $scope.updateTimersJson = function() {
            $scope.timers_json = JSON.stringify($scope.timers, "\n", 2);
        }

        $scope.$watch('startDisplayed', function(){ 
            $scope.startDisplayed ?  $scope.stopTimer() : $scope.startTimer() ;
        });

    }]);
</script>

<body >
<div ng-app="myApp" ng-controller="TimerController">
<!-- <div class="row">
    <div class="small-12 large-12 columns">
        <div >
            <h1>{{ header }}</h1>
            <label>Task Description
                <textarea placeholder=""></textarea>
            </label>
        	<p><button class="button round success" ng-click="startTimer()">Start</button>&nbsp;<button ng-click="stopTimer()" class="button round alert">Stop</button></p>
    	   <pre ng-bind="timers_json"></pre>	
        </div>
    </div>
</div>
-->
<div class="row">
    <h1>{{ header }}</h1>
</div>
<div class="row">
    <div class="large-1 columns panel text-center" style="padding-left:0;padding-right:0">{{timeFormatted}}</div>
    <div class="fullwidth large-10 columns"><textarea rows=3 placeholder="Task description..."></textarea></div>
    <div class="large-1 columns" style="padding:0px;"><button class=" button {{startButtonClass}} " ng-click="startDisplayed = !startDisplayed">{{startButtonText}}</button></div>
    <div class="large-12  columns">
        <pre ng-bind="timers_json"></pre>   
    </div>
</div>
<div class="row">
<a href="#" data-reveal-id="myModal">Click Me For A Modal</a>

</div>
</div>

<div id="myModal" class="reveal-modal small" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h2 id="modalTitle">Awesome. I have it.</h2>
  <p class="lead">Your couch.  It is mine.</p>
  <p>I'm a cool paragraph that lives inside of an even cooler modal. Wins!</p>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<script src="../../static/js/jquery.min.js"></script>
<script src="../../static/js/foundation/foundation.min.js"></script>
<script language="JavaScript">
$(document).foundation('reveal', 'reflow');
</script>

</body>
</html>