/* line 3, ../../../foundation/scss/custom_timer.scss */
.no_left_padding {
  padding-left: 0;
}

/* line 7, ../../../foundation/scss/custom_timer.scss */
.hour_display {
  padding-top: .9em;
  padding-bottom: .9em;
}

/* line 12, ../../../foundation/scss/custom_timer.scss */
.left-align, .center-align, .right-align {
  text-align: center;
}

@media only screen and (min-width: 641px) {
  /* line 19, ../../../foundation/scss/custom_timer.scss */
  .no-right-padding {
    padding-right: 0;
  }

  /* line 22, ../../../foundation/scss/custom_timer.scss */
  .left-align {
    text-align: left;
  }

  /* line 26, ../../../foundation/scss/custom_timer.scss */
  .right-align {
    text-align: right;
  }
}
